<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>TeleTrainer</title>
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color:#3AAFAB;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TeleTrainer</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" , href="features">Features</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Activity
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="analyzepushup">Push-Ups</a></li>
                        <li><a class="dropdown-item" href="analyzeplank">Plank</a></li>
                        <li><a class="dropdown-item" href="analyzesitup">Sit-Ups</a></li>
                        <li><a class="dropdown-item" href="analyzebicep">Bicep Curls</a></li>
                        <li><a class="dropdown-item" href="analyzesquats">Squats</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<body class="d-flex flex-column min-vh-500">
    <style>
        h1 {text-align: center;}
        h2 {text-align: center;}
        p {text-align: center;}
        img {
              display: block;
              margin-left: auto;
              margin-right: auto;
            }
        #grad1 {
                  /*height: 200px;*/
                  background-image: radial-gradient(circle, white, red);
                }
    </style>
    <div id='grad1'>
    <h1 class="col-md-12">TeleTrainer</h1>
    <div>
        <img id="logo" src="/static/images/logo.png" 
             width=250
             height=250
             class="center"/>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <h2>What is TeleTrainer?</h2>
    <p class="center">TeleTrainer utilizes state-of-the-art computer vision and machine learning techniques to accurately provide real-time insights to better improve workout habits. In the age of online learning when students are cooped up behind cameras and where physical education classes now require students sending time-consuming videos of exercises without immediate feedback, TeleTrainer is a reliable solution allows students to learn and stay healthy while also allowing for direct and quick teacher feedback.</p>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <hr>
</body>

<footer class = "mt-auto">
    <p style = "text-align: center;">Developed by Arnav Jain, Sameer Gabbita, Sauman Das, Vishal Kotha</p>
</footer>
</div>
</html>